.m-virtual-displays {
  @extend .separated-blocks;

  .filters {
    & > * {
      @extend .mr-4;
    }
  }

  .actions {
    i {
      @extend .cursor--pointer;
      @extend .pr-3;
      @extend .py-2;
      color: $--color-info;
      font-size: 2rem;
      transition: color .3s ease;

      &:last-child {
        margin-right: 0;
      }

      &.active {
        @extend .text--primary;
      }
    }
  }

  .headers > * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .table-display .headers,
  .table-display .row,
  .cards-display .headers,
  .cards-display .el-card__body {
    @extend .d-flex;

    & > * {
      @extend .px-2;
      width: auto;

      &:first-child {
        @extend .pl-4;
      }

      &:last-child {
        @extend .pr-4;
      }
    }
  }

  .table-display {
    .vue-recycle-scroller__item-view {
      $row-border-value: 1px solid $--border-color-base;
      padding-right: 2rem;

      .row {
        border: $row-border-value;
        border-bottom: none;
        transition: background-color .3s ease;


        .column {
          @extend .d-flex;
          @extend .align-center;
        }
      }

      &:last-child {
        .row {
          border-bottom: $row-border-value;
        }
      }

      &:hover {
        background-color: rgba($--color-primary, 0.15);
      }
    }
  }

  .cards-display {
    .headers.headers--expandable-cards {
      padding-right: 2rem;

      & > *:first-child {
        @extend .pl-2;
      }

      & > *:last-child {
        @extend .pr-2;
      }
    }

    .expandable-button {
      $expandable-button-size: 2.5rem;

      @extend .d-flex;
      @extend .justify-center;
      @extend .align-center;
      @extend .p-0;
      width: $expandable-button-size;
      height: $expandable-button-size;

      i {
        @extend .d-flex;
        @extend .justify-center;
        @extend .align-center;
        width: 100%;
        height: 100%;
      }

      &--active {
        i {
          transform: rotate(180deg);
        }
      }
    }

    .el-card {
      z-index: 1;
      position: relative;
      border-radius: 20px;
      border: none;
    }

    .card-expansion {
      @extend .pt-6;
      @extend .pb-4;
      @extend .px-5;
      transform: translateY(-1rem);
      background-color: $--color-white;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
    }
  }
}
