div.el-card {
  border: none;
  border-radius: 1.5rem;

  &--overflow-visible {
    overflow: visible;
  }
}



$collapse-item-border-radius: 1.5rem;
div.el-collapse {
  border: none;
}
div.el-collapse-item__header {
  @extend .justify-center;
  @extend .px-5;
  @extend .fs--large;
  position: relative;
  border: none;
  border-radius: $collapse-item-border-radius;
  transition: all .3s cubic-bezier(1,.01,.95,.7);

  &.is-active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    transition: all 0.3s cubic-bezier(.19,.71,.45,.99);
  }

  i.el-collapse-item__arrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    &.is-active {
      transform: translateY(-50%) rotate(90deg);
    }
  }
}

div.el-collapse-item__content {
  @extend .p-5;
  @extend .fs--base;
}
div.el-collapse-item__wrap {
  border: none;
  border-bottom-left-radius: $collapse-item-border-radius;
  border-bottom-right-radius: $collapse-item-border-radius;
}



ul.el-pager li.active {
  color: var(--color-secondary);
}



.el-popover {
  p {
    word-break: break-word;
  }
}



/* INPUT */
textarea.el-textarea__inner {
  resize: none;
}
