.text {
  &--primary {
    color: var(--color-primary);
  }

  &--secondary {
    color: var(--color-secondary);
  }

  &--base {
    color: $--color-text-secondary;
  }

  &--white {
    color: var(--color-white);
  }

  &--disabled {
    color: $--font-color-disabled-base;
  }

  &--success {
    color: $--color-success;
  }

  &--info {
    color: var(--color-info);
  }

  &--warning {
    color: $--color-warning;
  }

  &--danger {
    color: $--color-danger;
  }
}
