@import '~remixicon/fonts/remixicon.css';
@import '~vue-virtual-scroller/dist/vue-virtual-scroller.css';

@import "./theme/common/vars";
@import "./reset";
@import "./shared/index";

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	font-size: applyFontSize(medium);
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

hr {
  height: 0.1rem;
  background-color: $--border-color-base;
  border: none;
}

$--font-path: '~element-ui/lib/theme-chalk/fonts' !default;

@import "./theme/views/index";
@import "./theme/components/index";

@import "node_modules/element-ui/packages/theme-chalk/src/index";
