@import "./vars";
@import "node_modules/element-ui/packages/theme-chalk/src/index";

body {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
