// When used in a real application and when maestro will be published, it will be
// @import "node_modules/maestro/src/styles/vars";
@import "./src/styles/vars";

$--font-path: '~element-ui/lib/theme-chalk/fonts' !default;

$--color-primary: violet;
