.d-flex {
	display: flex;
}

.flex {
  // TODO: Use --
	&-wrap {
		flex-wrap: wrap;
	}

  // TODO: Use --
	&-column {
		@extend .d-flex;
		flex-direction: column;
	}

  &-center {
    @extend .d-flex;
    @extend .justify-center;
    @extend .align-center;
  }
}

.align {
  // TODO: Use --
	&-center {
		align-items: center;
	}

  // TODO: Use --
	&-end {
		align-items: flex-end;
	}

  // TODO: Use --
	&-stretch {
		align-items: stretch;
	}

  // TODO: Use --
	&-self-center {
		align-self: center;
	}
}

.justify {
  // TODO: Use --
	&-center {
		justify-content: center;
	}

  &--end {
    justify-content: flex-end;
  }

  // TODO: Use --
	&-space-between {
		justify-content: space-between;
	}

  // TODO: Use --
	&-space-around {
		justify-content: space-around;
	}
}
