@import "../../common/vars";

.aside-wrapper {
  display: flex;
  flex-direction: column;
}

.aside-menu-header {
  * {
    // color: $--color-white;
  }

  .logo-wrapper {
    display: flex;
    align-items: center;
    width: 85%;
    height: 70%;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &--collapse {
    .logo-wrapper {
      width: 100%;
    }
  }
}

.el-card.aside-menu {
  flex: 1;
  margin: $--main-padding 0 $--main-padding $--main-padding;

  &--collapsed {
    margin: $--main-padding 0;

    div.el-card__body {
      @extend .p-0;

      .el-menu-item,
      .el-submenu {
        text-align: center;
      }
    }
  }

  .el-card__body {
    @extend .px-0;
    height: 100%;

    .el-menu {
      border: none;
    }
  }
}
