@import "../../common/vars";

.aside-menu-header,
ul.aside-menu {
	border: none;
	background-color: $--color-primary;

	* {
		color: $--color-white;
	}
}

.aside-menu-header {
  .logo-wrapper {
    display: flex;
    align-items: center;
    width: 85%;
    height: 70%;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &--collapse {
    .logo-wrapper {
      width: 100%;
    }
  }
}

ul.aside-menu {
  $expand-menu-arrow-height: 50px;

  @extend .d-flex;
  @extend .flex-column;
  padding-bottom: $expand-menu-arrow-height;
	height: 100%;

	.el-menu-item,
  .el-menu-item i,
  .el-submenu__title i,{
		color: $--color-white;
	}

  .el-submenu__title i,
  .el-menu-item i {
    font-size: 1.8rem; // TODO: Use @extend or fs classes
    margin-right: .8rem; // TODO: Use spaces
    font-weight: normal;
  }

  .el-menu-item:hover,
  .el-menu-item:focus,
  .el-submenu__title:hover,
  .el-submenu__title:focus {
    background-color: $--color-primary-light-1;
    font-weight: bold;
  }

  .el-menu-item {
    background-color: $--color-primary;

    &.is-active {
      display: block;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: .5rem;
        height: 100%;
        background-color: $--color-text-secondary;
      }
    }
  }

  .expand-aside-menu-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0 17px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: $expand-menu-arrow-height;
    font-size: 30px;
  }
}
