@import "../../common/vars";

.aside-wrapper {
  display: flex;
  flex-direction: column;
}

.aside-menu-header {
  background-color: var(--color-white);

  .logo-wrapper {
    display: flex;
    align-items: center;
    width: 85%;
    height: 70%;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &--collapse {
    .logo-wrapper {
      width: 100%;
    }
  }
}

.el-card.aside-menu {
  flex: 1;
  margin: $--main-padding 0 $--main-padding $--main-padding;

  &--collapsed {
    margin: $--main-padding 0;

    div.el-card__body {
      p {
        visibility: hidden;
        height: 0;
      }

      .el-menu-item .el-tooltip,
      .el-submenu__title {
        @extend .justify-center;
        @extend .align-center;
        display: flex !important;

        i {
          margin-right: 0 !important;
        }
      }

      .el-submenu__title {
        padding-right: 0;
      }
    }
  }

  .el-card__body {
    @extend .px-0;
    height: 100%;

    .el-menu {
      border: none;

      p {
        @extend .mt-6;
        @extend .mb-2;
        @extend .bold;
        @extend .fs--small;
        margin-left: 2.1rem;
        color: var(--menu-paragraph-color);
      }

      .el-menu-item,
      .el-submenu__title {
        @extend .d-flex;
        @extend .align-center;
        @extend .mb-2;
        position: relative;
        height: 3.2rem;
        line-height: inherit;
        color: var(--menu-item-text-color);

        &:hover,
        &:focus {
          background-color: transparent;
        }

        i {
          @extend .mr-4;
          @extend .fs--large;
          color: var(--color-info);
        }

        span {
          max-width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
        }

        &.is-active {
          @extend .bold;

          &::after {
            $size: 0.3rem;

            content: '';
            position: absolute;
            top: 0;
            right: 0.3rem;
            width: $size;
            height: 100%;
            background-color: var(--color-secondary);
            border-radius: $size / 2;
          }

          i {
            color: var(--color-secondary);
          }
        }
      }

      .el-submenu {
        &__title {
          i:last-child {
            margin-right: 0;
          }

          span {
            @extend .pr-5;
          }
        }

        .el-menu-item {
          @extend .pr-5;
        }
      }
    }
  }
}
