@import "../../common/vars";
@import "../../../shared/displays/flex";

.header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 20px;
	box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.06);
  & .account__name {
    margin-right: auto;
    &__link {
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
    }
  }
	& > * {
		margin-right: 17px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.main {
  margin: 0 auto;
	padding: $--main-padding * 2 $--main-padding;
  max-width: 200rem;
}
