@import "../../common/vars";
@import "../../../shared/displays/flex";

.header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
  background-color: var(--color-white);
	font-size: 20px;

  &:after {
    content: '';
    position: fixed;
    top: 6rem;
    left: 0;
    width: 100vw;
    height: 0.1rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  }

  & .account__name {
    margin-right: auto;
    &__link {
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
    }
  }

	& > * {
		margin-right: 17px;

		&:last-child {
			margin-right: 0;
		}
	}

  .dropdown {
    background-color: red;
    a {
      color: initial;
      text-decoration: none;
    }
  }
}

.main {
  margin: 0 auto;
	padding: $--main-padding;
  max-width: 200rem;
}
