:root {
  /* UI ELEMENTS COLORS */
  --body-background-color: #F7F5FF;
  --menu-paragraph-color: #78859B;
  --menu-item-text-color: var(--color-primary);

  /* TODO: Complete variables */
  /* COLORS */
  --color-primary: #409EFF;
  --color-secondary: #8ddbf3;
  --color-primary-rgb: 64, 158, 255;
  /*--color-primary-light-rgb: 228, 230, 247;*/
  --color-info: #B1BBD4;
  --color-light-grey: #F3F5F9;
  /*--color-success: #1FBFB8;
  --color-success--rgb: 31, 191, 184;
  --color-success-light-rgb: 223, 245, 244;
  --color-warning: #FFB14B;*/
  --color-danger: #FF4B5E;
  /*--color-complementary: #1082E6;
  --color-disabled: #b2c6dd;
  --color-disabled-rgb: 178, 198, 221;*/
  --color-white: #FFFFFF;
  /*--color-text-base: var(--color-secondary);

  !* FONT *!
  --font-family: 'Work Sans', 'Helvetica Neue', Arial, sans-serif;
  --font-size-extra-large: 22px;
  --font-size-large: 18px;
  --font-size-medium: 16px;
  --font-size-base: 14px;
  --font-size-small: 12px;
  --font-size-extra-small: 10px;*/
}
